@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');


*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

.wrapper_inner{
	position: relative;
	width: 100%;
	height: 69em;
	background: #fff;
	display: flex;
}

.vertical_wrap{
	position: relative;
	height: 100%; 
}

.vertical_bar{
	width: 279px;
	background-color: #03041c;
	height: 100%;
	position: relative;
}
.vertical_bar .profile_info {
    padding: 50px 13px;
}

.profile_info .img_holder img {
    width: 220px;
    margin: auto;
    display: block;
}

.vertical_bar .menu li a{
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.menu{
	padding-left: 25px;
}

.vertical_bar .menu li a .icon{
	color: #c99c33;
	width: 25px;
    display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active{
	background: #fff;
	color: #010808;
}

.main_container{
	width: 100%;
    background-color: #b5f7f0;
}

.main_container .top_bar{
	background:  #03041c;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.top_bar .hamburger{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}

.top_bar .logo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c99c33;
}

.container {
    height: 100%;
    margin: 2em;
    font-size: 18px;
}

.label{
    padding: 15px;
}
.value{
    padding: 3px;
    font-size: 15px;
	width: 25em;
}
.gen{
	padding: 3px;
    font-size: 18px;
	margin: 6px 10px;
}

.image-label{
	float: right;
    text-align: end;
    padding: 0px 75px;
    margin: -50px 10px;
}

.search{
    margin: 1em 4em;
    font-size: 18px;
    cursor: pointer;
    padding: 3px 20px;
    background-color: #03041c;
    color:whitesmoke;
    border-radius: 10px;
	outline: none;
}

.sub{
	margin: 20px auto;
	padding: 2px 45px;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
	background-color: #03041c;
	color: rgb(255, 253, 250);
	border-radius: 25px;
	outline: none;
    display: block;
}

@media (max-width: 1117px){
    .top_bar .logo{
        font-size: 18px;
	}
	.vertical_bar{
        width: 230px;
	}
	.profile_info .img_holder img{
        width: 150px;
	}
    .vertical_bar .menu li a{
        padding: 12px;
        letter-spacing: 1px;
        font-size: 14px;
    }
    .wrapper1 .main .display {
        font-size: 43px;
        font-weight: 500;
    }
}

@media (max-width: 974px){
    /* .wrapper1 .main .display {
        font-size: 40px;
    } */
	
}
@media (max-width: 877px){
    .wrapper1 .main .display {
        font-size: 38px;
    }
    .top_bar .logo{
        font-size: 16px;
		font-weight: 200;
	}
}

@media (max-width: 810px){
    .top_bar .logo{
        font-size: 14px;
		font-weight: 200;
	}
}

@media (max-width: 768px){
    .top_bar .hamburger{
        display: inline-block;
	}
	.vertical_wrap{
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar{
        position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop{
        position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container{
        width: 100%;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.main_container .top_bar{
        border-top-left-radius: 25px;
	}
	.top_bar .logo{
		font-size: 18px;
		font-weight: 200;
	}
	.wrapper.active .vertical_wrap{
        visibility: visible;
	}
	.wrapper.active .vertical_bar{
        left: 0;
		transition: left 0.2s linear;
	}
}

@media (max-width: 588px){
    .wrapper1 .main .display {
        font-size: 36px;
    }
    .top_bar .logo{
        font-size: 13px;
		font-weight: 200;
    }
	.label{
		font-size: 14px;
	}
	.value{
		padding: 0;
	}
}

@media (max-width: 472px){
    .wrapper1 .main .display {
		font-size: 34px;
    }
    .top_bar .logo{
		font-weight: 200;
	}	
	.wrapper {
		margin: -29px -43px;
    }
}

@media (max-width: 395px){
	.top_bar .logo{
		font-size: 10px;
		font-weight: 200;
	}	
	.wrapper {
		margin: -29px -43px;
    }
	.value{
		padding: 0;
	}
	.label{
		padding: 10px;
		font-size: 10px;
	}
	.search{
		padding: 1px 18px;
		font-size: 14px;
		margin: 1em 6em;
	}
}

